.team__cards-title{
  color: #007aff;
  text-align: center;
  margin-top: 10%;
}

.members_cards{
  margin-top: 10%;
  margin-bottom: 5%;
}

#image__member{
  margin-top: 10%;
  margin-bottom: 5%;
}

.team__members{
  margin: 0 20% 2% 20%;
  list-style: none;
}

.members_name{
  color: #ffff;
  background-color: #0c325a;
}
.members_bio{
  color: #0c325a;
  font-size: 17px;
  text-align: justify;
}

.members_instagram{
  text-decoration: none;
  color: #ffff;
  background-color: #007aff;
  box-shadow: 0 2px 3px rgba(78, 78, 78, 0.5);
  padding: 1%;
  border-radius: 50px;
  margin-bottom: 2%;
  margin-left: 2%;

  transition-property: background-color;
  transition-duration: 0.5s;
}
.members_instagram:hover{
  color:#ffff;
  background-color: #0c325a;
}