.content__title{
  color: #007aff;
  text-align: center;
  margin-top: 6%;
  margin-bottom: 2%;
}

.home__content > p{
  color: #2e2e2e;
  text-align: justify;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 1%;
}  

.home__content-title-mangue{
  color: #007aff;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.button__apoie{
  display: flex;
  justify-content: center;
}

.button__apoie-instituto{
  text-align: center;
  background-color: #007aff;
  text-decoration: none;
  color: #ffff;
  padding: 2%;
  border-radius: 50px;
  margin-bottom: 2%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);

  transition-property: background-color, border;
  transition-duration: 1s;
}

.button__apoie-instituto:hover {
color: #ffff;
background-color: #0c325a;
border: #0c325a;
}
