.card__content{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 5%;
}

.card__content-img{
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

.card__content-text{
  color: #2e2e2e;
  text-align: justify;
  margin-left: 10%;
}