footer{
  width: 100%;
	height: 20%;
	/*position: absolute;*/
  bottom: 0;
  background-color: #0c325a;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer__logo{
  width: 10%;
  margin-right: 8%;
}

.footer__links{
  width: 50%;
}

.footer__logo-img{
  width: 150%;
  height: 15%;
}

.footer__menu-link{
  color: #ffff;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;

  transition-property: color;
  transition-duration: 0.5s;
}

.footer__menu-link:hover{
  color: #007aff;
}

.footer__social__media{
  margin-left: 20%;
}

.footer__social__media-img{
  width: 30%;
  height: 30%;

  transition-property: background-color;
  transition-duration: 0.5s;
}

.footer__social__media-img:hover{
  background-color: #007aff;
}