.div__content__banner{
  background-color: #007aff;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
}

.banner__content__text{
  margin-left: 2%;
}

.banner__content__text > h1, p{
  padding: 2%;
  color: #ffff;
}

.banner__content__text > p{
  font-size: 20px;
  margin-bottom: 5%;
}

.banner__content__image > img { 
  width: 40%;
  height: 40%;
  margin-left: 50%;
}

.button__home{
    text-decoration: none;
    color: #007aff;
    font-size: 18px;
    text-transform: uppercase;
    background-color:#ffff;
    padding: 3%;
    border-radius: 50px;
    border: #ffff solid 1.5px;
    box-shadow: 0 3px 10px rgba(78, 78, 78, 0.5);

    transition-property: background-color, border;
    transition-duration: 1s;
}

.button__home:hover {
  color: #ffff;
  background-color: #0c325a;
  border: #0c325a;
}

